
module dict5 1.0;

require {
	type dictd_t;
	type user_home_t;
	type var_lib_t;
	class file { read getattr open };
	class dir search;
}

#============= dictd_t ==============
allow dictd_t user_home_t:dir search;

#!!!! This avc is allowed in the current policy
allow dictd_t var_lib_t:file { read getattr open };
