
module dicd3 1.0;

require {
	type dictd_t;
	type var_lib_t;
	class file { read open };
}

#============= dictd_t ==============
allow dictd_t var_lib_t:file open;

#!!!! This avc is allowed in the current policy
allow dictd_t var_lib_t:file read;
