
module dictd2 1.0;

require {
	type dictd_t;
	type var_lib_t;
	class file read;
}

#============= dictd_t ==============
allow dictd_t var_lib_t:file read;
